In [6]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Raudeberg,NO,2022-10-02 22:30:20,61.9875,5.1352,48.87,1,58,19.93
1,1,Ushuaia,AR,2022-10-02 22:26:17,-54.8000,-68.3000,46.06,53,0,4.61
2,2,Kapaa,US,2022-10-02 22:30:21,22.0752,-159.3190,79.20,83,100,17.27
3,3,Dikson,RU,2022-10-02 22:30:22,73.5069,80.5464,30.56,94,100,20.76
4,4,Atuona,PF,2022-10-02 22:30:23,-9.8000,-139.0333,76.98,75,22,17.07

In [8]:
# Get the datatypes (data for mapping must be an int or float)
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature (google heatmaps do not plot neg #s, add temps greater than 0 to a new list, if the temp is less than 0, then 0 will be added to the list in its place))
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)


# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Kapaa,US,2022-10-02 22:30:21,22.0752,-159.3190,79.20,83,100,17.27
4,4,Atuona,PF,2022-10-02 22:30:23,-9.8000,-139.0333,76.98,75,22,17.07
12,12,General Salgado,BR,2022-10-02 22:30:29,-20.6483,-50.3606,78.55,54,10,5.68
23,23,Gunjur,GM,2022-10-02 22:30:37,13.2019,-16.7339,80.67,89,20,0.00
24,24,Vaini,TO,2022-10-02 22:30:38,-21.2000,-175.2000,78.96,73,75,9.22
27,27,Macara,EC,2022-10-02 22:30:40,-4.3833,-79.9500,82.49,45,100,6.93
29,29,Gamba,GA,2022-10-02 22:30:41,-2.6500,10.0000,75.51,90,100,4.56
31,31,Georgetown,MY,2022-10-02 22:27:28,5.4112,100.3354,79.95,91,20,3.44
33,33,Nuzvid,IN,2022-10-02 22:30:43,16.7833,80.8500,75.07,82,81,7.16
34,34,Isangel,VU,2022-10-02 22:30:44,-19.5500,169.2667,78.91,89,100,3.44

In [24]:
# Checking that there are no null values that need to be dropped
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2             Kapaa      US     79.20  22.0752 -159.3190
4            Atuona      PF     76.98  -9.8000 -139.0333
12  General Salgado      BR     78.55 -20.6483  -50.3606
23           Gunjur      GM     80.67  13.2019  -16.7339
24            Vaini      TO     78.96 -21.2000 -175.2000
27           Macara      EC     82.49  -4.3833  -79.9500
29            Gamba      GA     75.51  -2.6500   10.0000
31       Georgetown      MY     79.95   5.4112  100.3354
33           Nuzvid      IN     75.07  16.7833   80.8500
34          Isangel      VU     78.91 -19.5500  169.2667

In [29]:
# Set the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the Dataframe
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make a request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping")

hotel_df.head(10)

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kapaa,US,79.20,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Atuona,PF,76.98,-9.8000,-139.0333,Villa Enata
12,General Salgado,BR,78.55,-20.6483,-50.3606,TUTU HOTEL
23,Gunjur,GM,80.67,13.2019,-16.7339,Jallo Kurundingoto Eco Tourist Camp
24,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
27,Macara,EC,82.49,-4.3833,-79.9500,Hostal Macará
29,Gamba,GA,75.51,-2.6500,10.0000,
31,Georgetown,MY,79.95,5.4112,100.3354,Cititel Penang
33,Nuzvid,IN,75.07,16.7833,80.8500,HI-TECH LODGE
34,Isangel,VU,78.91,-19.5500,169.2667,Tanna Lodge

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

# Add template for info-box popup
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row (this is the codeblock for info-boxes)
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Add the heatmap layer and marker layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))