# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [5]:
# Set the file path to import the WeatherPy_database.csv file
file_path = r"C:\Users\aleah\Class\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path, index_col=0)

# Display sample data
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,New Norfolk,AU,-42.7826,147.0587,60.30,85,100,1.01,moderate rain
1,Natal,BR,-5.7950,-35.2094,79.45,83,75,10.36,broken clouds
2,Severo-Kurilsk,RU,50.6789,156.1250,38.95,66,57,17.11,light rain
3,Port Alfred,ZA,-33.5906,26.8910,66.18,97,61,5.01,light rain
4,Ilulissat,GL,69.2167,-51.1000,27.27,97,100,4.43,light snow
5,Faanui,PF,-16.4833,-151.7500,79.83,77,100,17.85,overcast clouds
6,Kodiak,US,57.7900,-152.4072,44.11,57,0,4.61,clear sky
7,Mahebourg,MU,-20.4081,57.7000,77.29,65,40,11.50,scattered clouds
8,Bethel,US,41.3712,-73.4140,61.48,89,100,3.44,mist
9,Vaini,TO,-21.2000,-175.2000,73.56,60,75,10.36,broken clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [6]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [7]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,Natal,BR,-5.7950,-35.2094,79.45,83,75,10.36,broken clouds
5,Faanui,PF,-16.4833,-151.7500,79.83,77,100,17.85,overcast clouds
7,Mahebourg,MU,-20.4081,57.7000,77.29,65,40,11.50,scattered clouds
9,Vaini,TO,-21.2000,-175.2000,73.56,60,75,10.36,broken clouds
11,Padang,ID,-0.9492,100.3543,82.45,78,100,4.76,overcast clouds
17,Airai,TL,-8.9266,125.4092,77.54,50,100,1.79,overcast clouds
22,Kapaa,US,22.0752,-159.3190,84.18,80,75,18.41,broken clouds
23,Tumkur,IN,13.3422,77.1017,75.40,46,2,5.19,clear sky
24,Rikitea,PF,-23.1203,-134.9692,73.17,81,3,16.33,light rain
25,Lagos,NG,6.5833,3.7500,77.32,94,99,1.54,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [8]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
# Counted to make sure equal values using: clean_travel_cities.count()
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,Natal,BR,-5.7950,-35.2094,79.45,83,75,10.36,broken clouds
5,Faanui,PF,-16.4833,-151.7500,79.83,77,100,17.85,overcast clouds
7,Mahebourg,MU,-20.4081,57.7000,77.29,65,40,11.50,scattered clouds
9,Vaini,TO,-21.2000,-175.2000,73.56,60,75,10.36,broken clouds
11,Padang,ID,-0.9492,100.3543,82.45,78,100,4.76,overcast clouds
17,Airai,TL,-8.9266,125.4092,77.54,50,100,1.79,overcast clouds
22,Kapaa,US,22.0752,-159.3190,84.18,80,75,18.41,broken clouds
23,Tumkur,IN,13.3422,77.1017,75.40,46,2,5.19,clear sky
24,Rikitea,PF,-23.1203,-134.9692,73.17,81,3,16.33,light rain
25,Lagos,NG,6.5833,3.7500,77.32,94,99,1.54,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [9]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head()

         City Country  Max Temp       Description      Lat       Lng
1       Natal      BR     79.45     broken clouds  -5.7950  -35.2094
5      Faanui      PF     79.83   overcast clouds -16.4833 -151.7500
7   Mahebourg      MU     77.29  scattered clouds -20.4081   57.7000
9       Vaini      TO     73.56     broken clouds -21.2000 -175.2000
11     Padang      ID     82.45   overcast clouds  -0.9492  100.3543

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [10]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Natal,BR,79.45,broken clouds,-5.7950,-35.2094,
5,Faanui,PF,79.83,overcast clouds,-16.4833,-151.7500,
7,Mahebourg,MU,77.29,scattered clouds,-20.4081,57.7000,
9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,
11,Padang,ID,82.45,overcast clouds,-0.9492,100.3543,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [11]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [12]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# Display sample data
hotel_df.head(15)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Natal,BR,79.45,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
5,Faanui,PF,79.83,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Mahebourg,MU,77.29,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Padang,ID,82.45,overcast clouds,-0.9492,100.3543,Mercure Padang
17,Airai,TL,77.54,overcast clouds,-8.9266,125.4092,
22,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Tumkur,IN,75.40,clear sky,13.3422,77.1017,Vaishali Comforts
24,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,People ThankYou
25,Lagos,NG,77.32,overcast clouds,6.5833,3.7500,
29,Lutz,US,75.78,clear sky,28.1511,-82.4615,Paradise Lakes Resort
33,Thinadhoo,MV,82.42,scattered clouds,0.5333,72.9333,
34,Zunyi,CN,73.85,overcast clouds,27.6867,106.9072,Bishiluo Hostel
35,Khandbari,NP,73.20,few clouds,27.3747,87.2039,Sainik Hotel And Lodge
39,Hilo,US,78.53,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(15)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Natal,BR,79.45,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
5,Faanui,PF,79.83,overcast clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,Mahebourg,MU,77.29,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
9,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Padang,ID,82.45,overcast clouds,-0.9492,100.3543,Mercure Padang
22,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
23,Tumkur,IN,75.40,clear sky,13.3422,77.1017,Vaishali Comforts
24,Rikitea,PF,73.17,light rain,-23.1203,-134.9692,People ThankYou
29,Lutz,US,75.78,clear sky,28.1511,-82.4615,Paradise Lakes Resort
34,Zunyi,CN,73.85,overcast clouds,27.6867,106.9072,Bishiluo Hostel
35,Khandbari,NP,73.20,few clouds,27.3747,87.2039,Sainik Hotel And Lodge
39,Hilo,US,78.53,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
41,Houston,US,78.13,haze,29.7633,-95.3633,"Hotel ICON, Autograph Collection"
49,Karratha,AU,85.89,clear sky,-20.7377,116.8463,ibis Styles Karratha
52,Kuala Terengganu,MY,86.99,few clouds,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [15]:
# Set the file name.
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [18]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [19]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Villa Park Hotel | Natal</dd>\n<dt>City</dt><dd>Natal</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 79.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mercure Padang</dd>\n<dt>City</dt><dd>Padang</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vaishali Comforts</dd>\n<dt>City</dt><dd>Tumkur</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 73.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Lakes Resort</dd>\n<dt>City</dt><dd>Lutz</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bishiluo Hostel</dd>\n<dt>City</dt><dd>Zunyi</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.85 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [20]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   -5.7950  -35.2094
5  -16.4833 -151.7500
7  -20.4081   57.7000
9  -21.2000 -175.2000
11  -0.9492  100.3543
22  22.0752 -159.3190
23  13.3422   77.1017
24 -23.1203 -134.9692
29  28.1511  -82.4615
34  27.6867  106.9072

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [21]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))